<section class="body-header">
  <div class="body-header-container">
    <h2 class="body-header__title">Сотрудники</h2>
    <a href="#" class="body-header-user">
      <span class="body-header-user__fio">Профиль</span>
      <i class="fa-solid fa-chevron-down body-header__fa"></i>
    </a>
  </div>
</section>

  <div class="personal-header">
    <h3 class="personal-header__title personal-show__head"><i class="fa-solid fa-chevron-left back-fa"></i> <%= link_to "Назад", "javascript:history.back()", class: 'personal-show__link' %>
  </div>
  <div class="form" style="padding: 20px 0">
    <%= render "form", personal: @personal %>
  </div>