<section class="body-header">
	<div class="body-header-container">
		<h2 class="body-header__title">Главная</h2>
		<a href="#" class="body-header-user">
			<span class="body-header-user__fio">Профиль</span>
			<i class="fa-solid fa-chevron-down body-header__fa"></i>
		</a>
	</div>
</section>

<section class="home-info">
	<div class="container home-info-container">
		<div class="nearest-vaccines home-info-block">
			<div class="home-info-block__header">
				<div class="home-info-block__header-text">
					<h3 class="home-info-block__title">Вакцинация в июле</h3>
					<p class="home-info-block__subtitle">Необходима вакцинация для 102 сотрудников</p>
				</div>
				<a href="#" class="home-info-block__header-button">Весь список</a>
			</div>
			<div class="home-info-block__main">
				<div class="home-info-block__main-header">
					<span class="home-info-block__span">Сотрудник</span>
					<span class="home-info-block__span">Вакцина</span>
				</div>
				<ul class="home-info-block__main-list">
					<li class="home-info-block__main-list__item">
						<a href="#" class="home-info-block__main-list__link-person">Кадров Никита</a>
						<a href="#" class="home-info-block__main-list__link-vacicine">Спутник V</a>
					</li>

					<li class="home-info-block__main-list__item">
						<a href="#" class="home-info-block__main-list__link-person">Кадров Никита</a>
						<a href="#" class="home-info-block__main-list__link-vacicine">Спутник V</a>
					</li>

					<li class="home-info-block__main-list__item">
						<a href="#" class="home-info-block__main-list__link-person">Кадров Никита</a>
						<a href="#" class="home-info-block__main-list__link-vacicine">Спутник V</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>